html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Clear Fix */

/* add the class .group in html to floated elements */
.group::after {
    content: '';
    clear: both;
    display: block;
}

* html .group

/* Body - in order to change body color must have body + #wrapper set to same color; do not add any css values to #wrapper that change its size or position or mmneu will not work */
/*
body {
    background: #fafafa;
}

#wrapper {
    background: #fafafa;
}
*/

@media (min-width: 450px) {
    #wrapper {
        background: rgba(250, 250, 250 0.2);
    }
}

.container {
    background: #fafafa;
    margin: auto;
    max-width: 950px;
}

.fixed {

    /*
    background: #c09f80;
    */
    position: fixed;

    /*
    width: 100%;
    */
}

/* Headings Styles */
h1,
h2,
h3,
h5,
p {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #565656;
}

h4 {
    font-family: bickham-script-pro-3, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h5 {
    font-size: 1.5em;
}

/* classes for easier styling; NEW for me to do this! */
.center-text {
    text-align: center;
}

/* for html outliner for nav */
.hide {
    display: none;
}

/* Header and Logo */
#topheader h1 {
    font-size: 2em;
    color: #fafafa;
    background: #c09f89;
    width: 100%;
    text-align: left;
    padding: 0.325em 0 0.35em 0;
}

#hamburger {
    float: left;
    width: calc(100% / 3);
    background: #c09f89;
}

#topheader {
    float: right;
    width: calc((100% / 3) * 2);
}

/*
#topheader {
    margin: auto;
    width: 100%;
    position: fixed;
}

#topheader h1 {
    text-align: center;
    padding-left: 0;
    margin: 0.375em;
}
*/

/*
#topheader {
    background-color: #565656;
    padding: 0.5em;
    margin-bottom: 1em;
}
*/

/*
#logo {
    text-align: center;
}

#logo img {
    padding-top: 0.5em;
}

@media (min-width: 450px) {
    #logo {
        float: left;
        width: calc(100% / 3);
        position: absolute;
        margin-top: -5em;
    }

    #topheader h1 {
        text-align: left;
        padding-left: 5em;
        margin-bottom: 0;
    }
}
*/

/*
@media (min-width: 750px) {
    .container {
        margin: auto;
    }

    #topheader {
        background: rgba(86, 86, 86, 0.5);
    }

    #topheader h1 {
        text-align: center;
        padding-left: 0;
    }

    header {
        position: fixed;
        width: 100%;
    }

    #intro {
        padding-top: 4em;
    }

    #logo {
        float: none;
        width: auto;
        position: relative;
        margin: auto;
        margin-top: 1em;
        max-width: 1000px;
    }

    #logo img {
        position: absolute;
        left: 5em;
        top: -5em;
    }
}
*/

/* Intro */
#logo {
    text-align: center;
}

#logo img {
    padding-top: 7em;
}

#intro h2 {
    margin-top: -0.025em;
}

#intro h3 {
    color: #c09f80;
    margin-top: -1em;
    padding-bottom: 2em;
}

#intro h2,
h3 {
    text-align: center;
}

@media (min-width: 450px) {

    /*
    #intro h2 {
        padding-top: 1em;
    }
    */
    #logo {
        float: left;
        width: 50%;
    }

    #title {
        float: right;
        width: 50%;
    }

    #logo {
        text-align: right;
    }

    #title h2,
    #title h3 {
        text-align: left;
    }

    #title {
        margin-top: 7em;
    }
}

/* button area styles */

/*
.button-pix {
    background-image: url(../img/wood.png);
}

.greybox {
    background: rgba(0, 0, 0, 0.5);
}

.button-pix p {
    padding: 2em 0 2em 1em;
    color: #fafafa;
    font-size: 2em;
}
*/

#button-area img {
    height: auto;
    width: 100%;
}

@media (min-width: 800px) {
    #button-area {
        background-color: rgba(86, 86, 86, 0.8);
        margin: 1em 0 1em 0;
        padding: 1em 0 1em 0;
        margin: auto;
    }

    #button-area h3 {
        color: #fafafa;
    }

    #intro h3 {
        margin-bottom: 2em;
    }

    .button-pix {
        float: right;
        width: 50%;
    }

    #action-buttons {
        float: left;
        width: 50%;

        /*
        margin-bottom: -3em;
        background-color: rgba(192, 159, 128, 0.2);
        margin-top: -0.1em;
*/
    }

    #food h3 {
        marign-top: 3em;
    }
}

/* action-buttons styling */
#action-buttons h3 {
    padding-top: 0.5em;
    text-align: center;
}

#action-buttons ul,
#menunav ul {
    padding-left: 0;
    list-style-type: none;
}

#action-buttons ul li,
#menunav ul li {
    display: block;
    border: none;
    background-color: #841f27;
    font-size: 1.5em;
    padding: 2em;
    margin: 0 auto;
    margin-bottom: 2em;
    text-align: center;
    width: 8em;
}

#action-buttons a,
#menunav a {
    text-decoration: none;
    color: #d7cec7;
    font-family: 'proxima-nova-condensed', sans-serif;
}

#action-buttons ul li a:hover,
#action-buttons ul li a:active,
#menunav ul li a:hover,
#menunav ul li a:active {
    color: #841f27;
}

#action-buttons li:hover,
#menunav li:hover {
    box-shadow: 0 0.75em 1em 0 rgba(0, 0, 0, 0.24), 0 1em 3.125em 0 rgba(0, 0, 0, 0.19);
    background-color: #d7cec7;
    color: #841f27;
}

#menuspace {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

@media (min-width: 450px) {
    #action-buttons ul
    li {
        display: inline;
        margin-left: 0.25em;
        padding: 1em;
        width: 4em;
    }

    .buttonbox {
        text-align: center;
        padding-top: 2em;
        padding-bottom: 3em;
    }
}

/* Food Section Style */
.foodpix img {
    height: auto;
    width: 100%;
}

#food h3 {
    padding-top: 1.5em;
}

#food p {
    font-size: 2em;
    margin: 0.5em;
    padding: 0 0 2em 1em;
}

#food a {
    color: #841f27;
}

#food a:hover {
    color: #d7cec7;
}

@media (min-width: 450px) {
    #food {
        background-color: rgba(255, 255, 255, 0.8);
    }

    #food h3 {
        padding-top: 1.5em;
    }

    .box-one {
        float: left;
        width: 50%;
        padding-right: 0.08em;
    }

    .box-two {
        float: right;
        width: 50%;
        padding-left: 0.08em;
    }
}

@media (min-width: 950px) {
    #food h3 {
        margin-top: 0;
    }

    .header-container {
        position: fixed;
        width: 950px;
        z-index: 1000;
    }
}

/* reviews styles */
#reviews {
    background-color: #841f27;
    padding: 2em 0 0 0;
}

#reviews h3 {
    color: #f5f5f5;
}

/* footer styles */
#fat-footer {
    background-color: #565656;
    padding: 2em 0 2em 0;
}

#fat-footer p {
    color: #fafafa;
    padding-left: 0.5em;
    margin: 0;
    line-height: 1.5em;
    font-size: 1.5em;
    text-align: center;
}

#fat-footer p:last-of-type {
    margin-bottom: 1em;
}

#fat-footer h5 {
    color: #c09f80;
    padding-left: 0.5em;
    margin: 1em 0 0 0;
    font-size: 2em;
    text-align: center;
}

#contact a {
    color: #fafafa;
}

#contact a:hover {
    color: #841f27;
}

#social img {
    display: block;
    margin: auto;
    padding: 1em 0 3em 0;
}

#map iframe {
    width: 100%;
}

#copyright p {
    font-size: 0.5em;
    padding: 3em 0 2em 0;
}

@media (min-width: 450px) {
    #social h5 {
        padding-top: 0.625em;
    }
}

@media (min-width: 800px) {
    #fat-footer {
        background-color: rgba(86, 86, 86, 0.8);
    }
}

/*  menu.html styles */
#title h4 {
    font-size: 8em;
    margin: 0;
    color: #565656;
}

#tour {
    background-color: rgba(255, 255, 255, 0.8);
}

#tour h3 {
    padding-top: 1em;
    margin-bottom: 0;
}

#tour p {
    padding: 0 1em 2em 1em;
    font-size: 1.5em;
}

#coupon h3 {
    color: #fafafa;
}

#coupon h3:hover {
    color: #c09f80;
}

#menu-list h4 {
    font-size: 7em;
    margin: 0;
    color: #c09f89;
}

#menu-list h5 {
    margin-bottom: 0;
    padding-left: 3em;
}

#menu-list p {
    padding-left: 4.5em;
}

.item-wrapper {
    margin-top: 3em;
}

.space {
    padding-bottom: 3em;
}

@media (min-width: 450px) {
    #menu-title {
        text-align: left;
    }

    #menunav {
        text-align: center;
    }

    #menunav ul li {
        font-size: 0.625em;
        display: inline-block;
        margin: 0.5em 2em 0 0;
    }

    #menunav ul {
        margin-top: 3em;
    }

    #menu-list h4 {
        font-size: 5em;
        padding: 0.5em 0 0.5em 0;
    }

}

@media (min-width: 600px) {
    #menunav ul {
        margin-bottom: 3em;
    }
    .box-three {
        float: left;
        width: 50%;
        padding-right: 0.08em;
    }

    .box-four {
        float: right;
        width: 50%;
        padding-left: 0.08em;
    }

    #tour h3 {
        margin: 0;
        padding-top: 0.25;
    }

    #tour p {
        margin-top: 0;
    }

    #tour img {
        padding-top: 2em;
    }
}

@media (min-width: 750px) {
    #menunav ul li {
        font-size: 1em;
    }

    #tour img {
        padding-top: 0.5em;
    }

    #tour h3 {
        padding-top: 1.5em;
    }
}

@media (min-width: 900px) {
    #tour h3 {
        padding-top: 2.5em;
    }
}
